@using Knev.CV.Models;

<div class="card" style="padding:15px; margin:10px; width:auto; height:12rem; ">
    <div class="card-body">
        <h3 class="card-title">@Item.Title</h3>

        <p class="card-text">@Item.Description</p>


    </div>
</div>

@code {
    [Parameter]
    public EducationModel Item { get; set; } = new();

}