@using Knev.CV.Models;

<div class="card" style="padding:15px; margin:10px; width:auto; height:12rem; ">
    <div class="card-body">
        <NavLink href=@Item.Uri target="_blank"> <h3 class="card-title">@Item.Title</h3></NavLink>

        <p class="card-text">@Item.Description</p>

        <div class="row" style="padding-top:10px; display:block">
            @if (Item.Skills.Count() > 0)
            {
                <span>Skills: </span>
                <img src=@($"https://skillicons.dev/icons?i={string.Join(",",Item.Skills)}")
                     style="width:25%; height:2rem;"
                     alt=@string.Join(", ",Item.Skills) />
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public SertificateModel Item { get; set; } = new();

}
