@page "/certificates"
@using Knev.CV.Models;

<PageTitle>Certificates</PageTitle>

<h3>Certificates</h3>

@code {
    private SertificateModel[] certificates = new SertificateModel[14]
    {
       //java
       new(){Key= "java_basic", Title="Programming Basics with Java - May 2020", Uri="https://softuni.bg/certificates/details/84229/f49fe307", Description = "" },
       new(){Key= "java_fundamentals", Title="Java Fundamentals - May 2020", Uri="https://softuni.bg/Certificates/Details/97207/2a525f0c", Description = "" },
       new(){Key= "java_advanced", Title="Java Advanced - September 2020", Uri="https://softuni.bg/Certificates/Details/89879/fb7aee05", Description = "" },
       new(){Key= "java_oop", Title="Java OOP - October 2020", Uri="https://softuni.bg/Certificates/Details/93584/eb267a97", Description = "" },
       new(){Key= "spring_data", Title="Spring Data - June 2021", Uri="https://softuni.bg/Certificates/Details/110171/9043a57a", Description = "" },
       new(){Key= "spring_fundamentals", Title="Spring Fundamentals - September 2021", Uri="https://softuni.bg/Certificates/Details/117474/a926337b", Description = "" },

       //c#
       new(){Key= "cSharp_fundamentals", Title="C# Fundamentals - May 2020", Uri="https://softuni.bg/Certificates/Details/97187/739d8bc3", Description = "" },

       //python
       new(){Key= "python_fundamentals", Title="Python Fundamentals - May 2020", Uri="https://softuni.bg/Certificates/Details/97220/1eb02097", Description = "" },

       //js
       new(){Key= "js_fundamentals", Title="JS Fundamentals - May 2020", Uri="https://softuni.bg/Certificates/Details/97196/b8d3237c", Description = "" },
       new(){Key= "js_advanced", Title="JS Advanced - January 2021", Uri="https://softuni.bg/Certificates/Details/98366/1b0b761e", Description = "" },
       new(){Key= "js_application", Title="JS Application - February 2021", Uri="https://softuni.bg/Certificates/Details/102434/7037d7b3", Description = "" },

       //data_base
       new(){Key= "my_sql", Title="MySQL - May 2021", Uri="https://softuni.bg/Certificates/Details/107746/cfeee927", Description = "" },

       //DevOps
       new(){Key= "containers_cloud", Title="Containers and Cloud - May 2023", Uri="https://softuni.bg/Certificates/Details/174463/f58ed696", Description = "" },
       new(){Key= "devengineer_devops", Title="Software Engineering and DevOps - June 2023", Uri="https://softuni.bg/Certificates/Details/183294/2cc0a76e", Description = "" },
    };


}
