@page "/"

<PageTitle>About me</PageTitle>

<h1>About me</h1>
<img src="https://avatars.githubusercontent.com/u/71128514?v=4" style="width:6rem; height:6rem;" />
<p>
    I am a   <NavLink href="certificates">qualified web developer</NavLink> web developer with <NavLink href="experience">experience</NavLink>.
</p>
<p>
    I am a flexible and I am keen to start work after a period of <NavLink href="educations">education</NavLink> which has broadened my <NavLink href="skills">skills</NavLink> and <NavLink href="experience">experience</NavLink>.
</p>
<p>
    I am a good communicator with proven inter personal <NavLink href="skills">skills</NavLink> and am used to working in a team, also being capable of using own initiative if its needed. I am skilled In dealing with problems  and negotiating to achieve beneficial agreement. I am always enthusiastic to learn and undertake new challenges.
</p>
<p>
    I am determined and enthusiastic, I have developed good planning and organisational <NavLink href="skills">skills</NavLink> and am confident working independently or as part of a team. I am well organized and always plan ahead to make sure I manage my time well.
</p>
<p>
    I am flexible regarding working hours and am able to work a hybrid.
</p>
<span>
    I am a punctual and motivated individual who is able to work in a busy environment and produce high standards of work. I am an excellent team worker and am able to take instructions from all levels and build up good working relationships with all colleagues.
</span>
<span>
    I am able to work well under pressure and adhere to strict deadlines.
</span>

<p>
    I am able to present My:
</p>
<ul>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="educations">
            <span class="oi oi-book"></span> Educations
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="diplomas">
            <span class="oi oi-document"></span> Diplomas
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="certificates">
            <span class="oi oi-document"></span> Certificates
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="experience">
            <span class="oi oi-code"></span> Experience
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" target="_blank" href="https://github.com/knaevKMK">
            <span class="oi oi-code"></span> Projects
        </NavLink>
    </li>
</ul>