@inherits LayoutComponentBase

<PageTitle>Knev.CV</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4"> 
            <a href="https://www.linkedin.com/in/krasimir-kanev-178353230/" target="_blank"> <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" style="width:2rem;" /></a>
            <a href="https://github.com/knaevKMK/" target="_blank"> <img src="https://w7.pngwing.com/pngs/646/324/png-transparent-github-computer-icons-github-logo-monochrome-head.png" style="width:5rem;  " /></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
